.main {
  width: 40%;
  box-shadow: 2px 2px 2px 2px silver;
  margin-top: 50px;
  padding: 10px;
}

h2 {
  font-family: "Cairo", sans-serif;
}

.main .title {
  color: #00b6ff;
  font-size: 65px;
}

input {
  margin-bottom: 10px;
  width: 60%;
  padding: 5px;
  font-family: "Cairo", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

button {
  border: none;
  padding: 10px;
  width: 40%;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #1ac15c;
  cursor: pointer;
  font-family: "Cairo", sans-serif;
  margin-bottom: 15px;
}

label {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  background-color: #1f87cf;
  font-family: "Cairo", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: tomato;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}

.main .style {
  margin-bottom: 40px;
}

.main form .error {
  background-color: #ffcccc;
  color: #cc0000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 25px;
  font-family: "Cairo", sans-serif;
}

.main form .success {
  color: black;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  background-color: #86ca86;
}
