main {
  width: 60%;
}

.title_page  {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  margin-top: 30px;
}

.card {
  float: right;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.card img {
  width: 100%;
  height: 200px;
}
